* {
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
@keyframes myani {
    0% {
        transform: translate(0,0);
        background-color: rgb(228, 228, 12);
    }
    25% {
        transform: translate(calc (50vw),0);
        background-color: rgb(12, 12, 214);
    }
    50% {
        transform: translate(calc (50vw),calc(50vw));
        background-color: rgb(216, 65, 65);
    }
    75% {
        transform: translate( calc (75VW), calc (10O0vw));
        background-color: rgb(238, 8, 8);
    }
    100%
}